# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Django / SQLite
db.sqlite3
db.sqlite3-journal

# Віртуальні середовища
venv/
.venv/

# Логи та конфіги
*.log
.env

# IDE
.idea/
.vscode/

# Тести та покриття
.pytest_cache/
.coverage
htmlcov/

# Системні файли
.DS_Store
Thumbs.db